<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <springProperty name="profile" source="spring.profiles.active" defaultValue="local"/>

    <springProfile name="local">
        <property name="LOG_PATH" value="./logsvc"/>
        <!-- log file name -->
        <property name="LOG_FILE_NAME" value="info-yourplanet-connect-hub"/>
        <!-- err log file name -->
        <property name="ERR_LOG_FILE_NAME" value="error-yourplanet-connect-hub"/>
        <!-- log level filter -->
        <property name="LOG_LEVEL" value="DEBUG"/>
    </springProfile>
    <springProfile name="dev">
        <property name="LOG_PATH" value="/logsvc/yourplanet"/>
        <!-- log file name -->
        <property name="LOG_FILE_NAME" value="info-yourplanet-connect-hub"/>
        <!-- err log file name -->
        <property name="ERR_LOG_FILE_NAME" value="error-yourplanet-connect-hub"/>
        <!-- log level filter -->
        <property name="LOG_LEVEL" value="INFO"/>
    </springProfile>

    <!-- log pattern -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <property name="FILE_LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss} [%thread] [%logger{0}-%M:%line] - %msg%n "/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>